<!DOCTYPE html>
{%load static%}
<html lang="ru">
<head X-Frame-Options: SAMEORIGIN>
  <link rel="shortcut icon" href="{% static 'img/favicon.ico'%}" type="image/x-icon">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script
  src="{% static 'js\jquery-3.6.0.min.js'%}"

  crossorigin="anonymous"></script>
  <script src="{% static 'js/updpos.js'%}" charset="utf-8"></script>
  <script src="{% static 'js/search2.js'%}" charset="utf-8"></script>
  <script src="{% static 'js/main.js'%}" charset="utf-8"></script>
  {%block script%}{%endblock%}
  <link rel="stylesheet" href="{% static 'css\style.css'%}">
  <title>{%block title%}Штатное замещение{%endblock%}</title>
</head>
<body>
  <header>
    <div>
    {%block header%}  <h1>Штатное замещение </h1>  {%endblock%}
    </div>
  </header>
  {%block body%}
  <div id="references" class="main_div">
    <h2>Справочники</h2>
    <a href="#"> Дирекции </a>
    <a href="{% url 'get_deps'%}"> Отделы </a>
    <a href="{% url 'get_subdeps'%}"> Секторы </a>
  </div>
  <div id="inthismoment" class="main_div ">
      <h2>На текущий момент:</h2>
      <p>Ставок всего: <span id="total">{{total}}</span></p>
      <p>из них занято: <span id="busy">{{busy}}</span></p>
      <p>cвободно: <span id="free">{{free}}</span></p>

  </div>
  <div class="container main">

    <form class="newrr" action="{% url 'regrepl_copy'%}" method="post">
      <h4>Создать на текущюю дату</h4>
        {%csrf_token%}
      <select class="" name="loc">
        {% for loc in locs %}
        <option value="{{loc.id}}">{{loc.name}}</option>
      {%endfor%}
      </select>
      <input class="button" type="submit" value="Создать">

    </form>

  <div class="subcontainer">
    {% for reg in RegRepls %}
      <div onclick="return location.href = '{% url 'regrepl' id=reg.id%}'"  class="regrepl">
        <h3>Штатное замещение {{reg.id}} на {{reg.duration|date:"d.m.Y"}} по {{reg.location}}</h3>
      </div>
      {%endfor%}
  </div>



    <!-- <table class="RegRepl_table">


      <thead>
        <th>Период</th>
        <th>Территория</th>
      </thead>
      <tbody>
      {% for reg in RegRepls %}
        <tr class="notcaption" onclick="return location.href = '{% url 'regrepl' id=reg.id%}' ">
            <td>{{reg.duration|date:"d.m.Y"}}</td>
            <td>{{reg.location}}</td>
          </tr>
        {%endfor%}
      </tbody>

    </table> -->


  </div>


  {%endblock%}
</body>
</html>
