{% extends "RegRepl/index.html"%}
{% load humanize %}
{%block header%}Штатное замещение за {{rr.duration|date:"d.m.Y"}} | <span style="font-size: 12pt;">Штат в количестве: <span style="color:blue;">{{count}}</span> едениц</span> <a href="/" class="button-back">Х</a>{%endblock%}
{%block body%}
<div class="container regrepl">


<table >
  <thead>


  <tr><th colspan="7">по штатному расписанию</th>  <th colspan="9">по штатному замещению</th> <th></th></tr>
<tr class="verticalrow">

  <td>Должность</td>
    <td>Кол-во штатных ед-ц</td>
    <td>Разряд</td>
    <td>Категория</td>
    <td>Ступень</td>
    <td>Базовая тарифная ставка</td>
    <td>Месячный тарифный ФЗП</td>


    <td>Кол-во штатных ед-ц</td>
    <td>Разряд</td>
    <td>Категория</td>
    <td>Ступень</td>
    <td>Базовая тарифная ставка</td>
    <td>Месячный тарифный ФЗП</td>
    <td>ФИО работника</td>
    <td>ФИО работника</td>
    <td>ФИО работника</td>
    <td>Комментарий</td>
</tr>
  </thead>

  <tbody>
{% for dir in dirs%}
  <tr class="dir">
  <td colspan="17">{{dir.name}}</td>
  </tr>
  {% for dep in dir.dep.all%}
    <tr class="dep">
    <td colspan="17">{{dep.name}}</td>

    </tr>
{% for pos in positions%}
{% if pos.dep == dep%}
{% if pos.free == 1 %}
<tr onclick="return window.open('{% url 'regpos_upd' id=pos.id%}')" class="notcaption" style="background: yellow">
<td>{{pos.name}}</td>
<td>{{pos.units|floatformat}}</td>
<td>{{pos.level}}</td>
{% if pos.cat == "РУК"%}
<td style="color: red;font-weight: bold;">{{pos.cat}}</td>
{%endif%}
{% if pos.cat == 'СПЕЦ'%}
<td style="color: hotpink;font-weight: bold;">{{pos.cat}}</td>
{%endif%}
{% if pos.cat == 'РАБ'%}
<td style="color: blue;font-weight: bold;">{{pos.cat}}</td>
{%endif%}
<td>{{pos.payment}}</td>
<td>{{pos.salary|intcomma}}</td>
<td>{{pos.salary|intcomma}}</td>
<td>{{pos.units_rr|floatformat}}</td>
<td>{{pos.level_rr}}</td>
{% if pos.cat_rr == "РУК"%}
<td style="color: red;">{{pos.cat_rr}}</td>
{%endif%}
{% if pos.cat_rr == 'СПЕЦ'%}
<td style="color: pink;">{{pos.cat_rr}}</td>
{%endif%}
{% if pos.cat_rr == 'РАБ'%}
<td style="color: blue;">{{pos.cat_rr}}</td>
{%endif%}
<td>{{pos.payment_rr}}</td>
<td>{{pos.salary_rr|intcomma}}</td>
<td>{{pos.salary_rr|intcomma}}</td>
<td>{{pos.employer1}}</td>
<td>{{pos.employer2}}</td>
<td>{{pos.employer3}}</td>
<td>{{pos.comm}}</td>
</tr>
{%else%}

<tr onclick="return window.open('{% url 'regpos_upd' id=pos.id%}')" class="notcaption">
<td>{{pos.name}}</td>
<td>{{pos.units|floatformat}}</td>
<td>{{pos.level}}</td>
{% if pos.cat == "РУК"%}
<td style="color: red;font-weight: bold;">{{pos.cat}}</td>
{%endif%}
{% if pos.cat == 'СПЕЦ'%}
<td style="color: hotpink;font-weight: bold;">{{pos.cat}}</td>
{%endif%}
{% if pos.cat == 'РАБ'%}
<td style="color: blue;font-weight: bold;">{{pos.cat}}</td>
{%endif%}
<td>{{pos.payment}}</td>
<td>{{pos.salary|intcomma}}</td>
<td>{{pos.salary|intcomma}}</td>
<td>{{pos.units_rr|floatformat}}</td>
<td>{{pos.level_rr}}</td>
{% if pos.cat_rr == "РУК"%}
<td style="color: red;font-weight: bold;">{{pos.cat_rr}}</td>
{%endif%}
{% if pos.cat_rr == 'СПЕЦ'%}
<td style="color: hotpink;font-weight: bold;">{{pos.cat_rr}}</td>
{%endif%}
{% if pos.cat_rr == 'РАБ'%}
<td style="color: blue;font-weight: bold;">{{pos.cat_rr}}</td>
{%endif%}
<td>{{pos.payment_rr}}</td>
<td>{{pos.salary_rr|intcomma}}</td>
<td>{{pos.salary_rr|intcomma}}</td>
<td>{{pos.employer1}}</td>
<td>{{pos.employer2}}</td>
<td>{{pos.employer3}}</td>
<td>{{pos.comm}}</td>
</tr>


{%endif%}
{%endif%}
{%endfor%}
      {%for sd in dep.subdep.all%}
        <tr class="subdep">
        <td colspan="17">{{sd.name}}</td>
        </tr>
        {%for is in insectors%}
          {%if is.subdep == sd%}
            {%if is.free%}
              <tr onclick="return window.open('{% url 'regpos_upd' id=is.id%}')" class="notcaption" style="background: yellow">
              <td>{{is.name}}</td>
              <td>{{is.units|floatformat}}</td>
              <td>{{is.level}}</td>
              {% if is.cat == "РУК"%}
                <td style="color: red;font-weight: bold;">{{is.cat}}</td>
              {%endif%}
              {% if is.cat == 'СПЕЦ'%}
                <td style="color: hotpink;font-weight: bold;">{{is.cat}}</td>
              {%endif%}
              {% if is.cat == 'РАБ'%}
                <td style="color: blue;font-weight: bold;">{{is.cat}}</td>
              {%endif%}
              <td>{{is.payment}}</td>
              <td>{{is.salary|intcomma}}</td>
              <td>{{is.salary|intcomma}}</td>
              <td>{{is.units_rr|floatformat}}</td>
              <td>{{is.level_rr}}</td>
              {% if is.cat_rr == "РУК"%}
                <td style="color: red;font-weight: bold;">{{is.cat_rr}}</td>
              {%endif%}
              {% if is.cat_rr == 'СПЕЦ'%}
                <td style="color: hotpink;font-weight: bold;">{{is.cat_rr}}</td>
              {%endif%}
              {% if is.cat_rr == 'РАБ'%}
                <td style="color: blue;font-weight: bold;">{{is.cat_rr}}</td>
              {%endif%}
              <td>{{is.payment_rr}}</td>
              <td>{{is.salary_rr|intcomma}}</td>
              <td>{{is.salary_rr|intcomma}}</td>
              <td>{{is.employer1}}</td>
              <td>{{is.employer2}}</td>
              <td>{{is.employer3}}</td>
              <td>{{is.comm}}</td>
              </tr>
            {%else%}

              <tr onclick="return window.open('{% url 'regpos_upd' id=is.id%}')" class="notcaption">
              <td>{{is.name}}</td>
              <td>{{is.units|floatformat}}</td>
              <td>{{is.level}}</td>
              {% if is.cat == "РУК"%}
                <td style="color: red;font-weight: bold;">{{is.cat}}</td>
              {%endif%}
              {% if is.cat == 'СПЕЦ'%}
                <td style="color: hotpink;font-weight: bold;">{{is.cat}}</td>
              {%endif%}
              {% if is.cat == 'РАБ'%}
                <td style="color: blue;font-weight: bold;">{{is.cat}}</td>
              {%endif%}
              <td>{{is.payment}}</td>
              <td>{{is.salary|intcomma}}</td>
              <td>{{is.salary|intcomma}}</td>
              <td>{{is.units_rr|floatformat}}</td>
              <td>{{is.level_rr}}</td>
              {% if is.cat_rr == "РУК"%}
                <td style="color: red;font-weight: bold;">{{is.cat_rr}}</td>
              {%endif%}
              {% if is.cat_rr == 'СПЕЦ'%}
                <td style="color: hotpink;font-weight: bold;">{{is.cat_rr}}</td>
              {%endif%}
              {% if is.cat_rr == 'РАБ'%}
                <td style="color: blue;font-weight: bold;">{{is.cat_rr}}</td>
              {%endif%}
              <td>{{is.payment_rr}}</td>
              <td>{{is.salary_rr|intcomma}}</td>
              <td>{{is.salary_rr|intcomma}}</td>
              <td>{{is.employer1}}</td>
              <td>{{is.employer2}}</td>
              <td>{{is.employer3}}</td>
              <td>{{is.comm}}</td>
              </tr>
            {%endif%}
          {%endif%}

        {%endfor%}

      {%endfor%}


      <tr class='itogo'><td> Итого {{dep.name|truncatechars:15}}</td>
      <td>
        {% for k,v in d_units.items%}
              {%if k == dep.id%}

                 {{v|floatformat}}
                 {%endif%}

            {%endfor%}

      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>
        {% for k,v in d_salary.items%}
              {%if k == dep.id%}

                 {{v|intcomma}}
                 {%endif%}

            {%endfor%}
      </td>
      <td>
        {% for k,v in d_units_rr.items%}
              {%if k == dep.id%}

                   {{v|floatformat}}

              {%endif%}

            {%endfor%}

      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>
        {% for k,v in d_salary_rr.items%}
              {%if k == dep.id%}

                   {{v|intcomma}}

              {%endif%}

            {%endfor%}

      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>

      </tr>
  {%endfor%}
  <tr class="diritogo"><td>Итого {{dir.name|truncatechars:20}}</td>
<td>
{% for k,v in dir_units.items%}
  {%if k == dir.id%}
    {{v|floatformat}}
  {%endif%}
{%endfor%}
</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td>
{% for k,v in dir_salary.items%}
  {%if k == dir.id%}
    {{v|intcomma}}
  {%endif%}
{%endfor%}
</td>
<td>
{% for k,v in dir_units_rr.items%}
  {%if k == dir.id%}
    {{v|floatformat}}
  {%endif%}
{%endfor%}
</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td>
{% for k,v in dir_salary_rr.items%}
  {%if k == dir.id%}
    {{v|intcomma}}
  {%endif%}
{%endfor%}
</td>
<td></td>
<td></td>
<td></td>
<td></td>

  </tr>
{%endfor%}

<tr class="all_itog"><td>Итого по {{rr.location}}</td>
    <td>{{all_units_itogo}}</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>{{all_salary_itogo|intcomma}}</td>
    <td>{{all_unitsrr_itogo}}</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>{{all_salaryrr_itogo|intcomma}}</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>


</tr>








  </tbody>
</table>
</div>
{%endblock%}
