{% extends "RegRepl/index.html"%}
{% load humanize %}
{%block title%} Поиск {%endblock%}
{%block header%} <a href="{% url 'regrepl' id=rr.id%}">Назад к замещению</a><h1 id="head"></h1>{%endblock%}
{%block body%}
<div class="container regrepl">




<div class="edit_frame">
<iframe src="{% url 'regpos_upd' id=5438%}" id="upd_frame" width="70%" height="500"></iframe>

<button type="button"  onclick="send_submit()" class="button submit">Сохранить</button>
<button type="button" class="button cancel" onclick="close_edit()"> Отмена </button>
</div>

<div class="search_menu">
  <select onchange="select_search_type()" class="sm_type" name="sm_type" id="sm_type">
  <option value="1">По дирекции\цеху</option>
  <option value="2">По отделу</option>
  <option value="3">По должности</option>
  <option value="4">По категории</option>
  <option value="6">Свободные ставки</option>
  <option value="7">По территории</option>
  </select>

<input type="text" id="sm_position"  style="display: none;" name="sm_position" placeholder="введите слово для поиска...">
  <select class="sm_main" name="sm_main" id="sm_main">

  </select>
  <span id="sm_btw_container">
<label for="between">Убрать промежуточные итоги</label>
<input type="checkbox" onchange="have_between()" id="sm_havebetween" name="between" value=""></span>

  <button onclick="getdata()" type="button" class="button" name="sm_submit">Найти</button>


</div>

<table >
  <thead>


  <tr><th colspan="7">по штатному расписанию</th>  <th colspan="9">по штатному замещению</th> <th></th></tr>
<tr class="verticalrow">

  <td>Должность</td>
    <td>Кол-во штатных ед-ц</td>
    <td>Разряд</td>
    <td>Категория</td>
    <td>Ступень</td>
    <td>Базовая тарифная ставка</td>
    <td>Месячный тарифный ФЗП</td>


    <td>Кол-во штатных ед-ц</td>
    <td>Разряд</td>
    <td>Категория</td>
    <td>Ступень</td>
    <td>Базовая тарифная ставка</td>
    <td>Месячный тарифный ФЗП</td>
    <td>ФИО работника</td>
    <td>ФИО работника</td>
    <td>ФИО работника</td>
    <td>Комментарий</td>
</tr>
  </thead>

  <tbody>






  </tbody>
</table>
</div>
{%endblock%}
