{% extends "RegRepl/index.html"%}
{%block header%}{{pos.dep}} - {{pos.name}} - {{pos.employer1}} {% if pos.free %}Ставка свободна{%endif%}{%endblock%}
{%block title%}{{pos.name}}{%endblock%}
{%block body%}
<form class="posupd"  method="post">
  {%csrf_token%}

  <div class="onstufftable">

    <h2>По штатному расписанию</h2>
<div class="ost_container">


    <div class="st_labels">
          <p style="visibility: hidden;" ><span>{{form.bound_regrepl.label}}</span> </p>
      <p><span>{{form.name.label}}</span></p>
      <p><span><label for="nrp_dir">Дирекция</label></span></p>
      <p><span><label for="nrp_dep">Подразделение (отдел)</label></span></p>
      <p><span><label for="nrp_subdep">Субподразделение (сектор)</label></span></p>
      <p><span>{{form.units.label}}</span></p>
      <p><span>{{form.level.label}}</span></p>
      <p><span>{{form.cat.label}}</span></p>
      <p><span>{{form.payment.label}}</span></p>
      <p><span>{{form.salary.label}}</span></p>
  </div>
  <div class="st_fields">
<p style="visibility: hidden;">    <span>{{form.bound_regrepl}}</span> </p>
  <p>  <span>{{form.name}}</span></p>

  <p> <span><select id="urp_dir" onchange="change_dir()" name="urp_dir">

  </select></span> </p>

  <p> <span><select onchange="change_dep()" id="urp_dep" name="urp_dep">

  </select></span> </p>

  <p> <span><select onchange="change_subdep()" id="urp_subdep" name="urp_subdep">
  <option value="">НЕТ СЕКТОРА</option>
  </select></span></p>

  <p> <span>{{form.units}}</span></p>

  <p> <span>{{form.level}}</span></p>

  <p> <span>{{form.cat}}</span></p>

  <p> <span>{{form.payment}}</span></p>

  <p> <span>{{form.salary}}</span></p>
  </div>


  </div>
</div>
  <div class="onregrepl">
    <h2>По штатному замещению</h2>
<div class="orr_container">

<div class="st_labels">
    <p><span>{{form.units_rr.label}}</span></p>
    <p><span>{{form.level_rr.label}}</span></p>
    <p><span>{{form.cat_rr.label}}</span></p>
    <p><span>{{form.payment_rr.label}}</span></p>
    <p><span>{{form.salary_rr.label}}</span></p>
    <p>{{form.free.label}}</p>
    <p><span>{{form.employer1.label}}</span></p>
    <p><span>{{form.employer2.label}}</span></p>
    <p><span>{{form.employer3.label}}</span></p>
    <p><span>{{form.comm.label}}</span></p>
    <p><span>{{form.disabled.label}}</span></p>
</div>
<div class="st_fields">
  <p><span>{{form.units_rr}}</span></p>

  <p><span>{{form.level_rr}}</span></p>

  <p><span>{{form.cat_rr}}</span></p>

  <p><span>{{form.payment_rr}}</span></p>

  <p><span>{{form.salary_rr}}</span></p>

  <p>{{form.free}}</p>

  <p><span>{{form.employer1}}</span></p>

  <p><span>{{form.employer2}}</span></p>

  <p><span>{{form.employer3}}</span></p>

  <p><span>{{form.comm}}</span></p>
  <p><span>{{form.disabled}}</span></p>
</div>


  </div>

{{form.errors}}



</form>
{%endblock%}
