* {
  margin: 0;
  font-family: sans-serif;
}

input[type=text], input[type=number], input[type=date], input[type=search], textarea, select {
  background: #f9f9f9;
  border-radius: 11px;
  border: 2px solid #8f8f8f;
}



input[type=text]:focus, input[type=number]:focus, input[type=date]:focus,input[type=search]:focus,textarea:focus,select:focus {

outline: none;

box-shadow: 0px 0px 4px 1px #977390;

transition: 0.3s;
}

#id_employer1, #id_employer2, #id_employer3 {

width: 400px;
}

#id_subdep {
  width: 201px;
}

#id_name {
width: 100%;
}

body {
  background: white !important;
}

iframe {

width: 100%;


}

header {
/* width: 95%; */
height: 39px;
margin-bottom: 26px;
padding: 1em;
/* border-radius: 17px; */
/* border: 2px solid #977390; */
background: #5EBCFF;
box-shadow: 0px 0px 11px -2px black;
}



header a:hover {
    background: silver;
    box-shadow: 0px 0px 3px 2px #cdf2cd;
    transition: 0.3s;
/* float: left; */}

.button-back {

float: right;

background: red;

padding: 11px;

font-size: 11pt;

color: black;

text-decoration: none;

border-radius: 12px;
}

.button-back-header {margin-right: 24px;background: #1e6ea6;padding: 12px;text-decoration: none;color: white;border-radius: 14px;float: left;}

header div {
height: 100%;
}

header div h1 {
  text-align: left;
  width: max-content;
  margin: 0;
  float: left;
}

.container {

width: 94%;

margin: 0 auto;
}

.newrr {
/* border: 1px solid; */
padding: 7px;
/* border: 4px solid #228653; */
border-radius: 13px;
box-shadow: 0px 0px 18px 7px #a8a8a8;
background: #cdf2cd;
}

.newrr .button {

}

.newrr input, .newrr select{
    float: left;
    margin-right: 14px;
    font-size: 12pt;
    height: 34px;
    margin-top: 10px;
}

.main {

display: grid;

grid-template-columns: 100%;

grid-gap: 22px;

width: 64%;

margin: 0 auto;
}

.button {
text-align: center;
text-decoration: none;
color: white;
text-transform: uppercase;
background: #1eab2f;
/* padding: 6px; */
border-radius: 6px;
transition: 0.3s;
}

.add {width: 100% !important;float: right;}

.button:hover {

box-shadow: 0px 0px 8px 2px #38a600;

transition: 0.3s;
}

.edit_frame {

position: fixed;

width: 100%;

bottom: 0;

display: none;

left: 0;

background: white;

border-top: 4px solid black;
}

.edit_frame button {

width: 310px;

float: right;
}

.cancel {

background: none;

color: red;

font-weight: 600;

border: 1px solid red;

margin-right: 18px;
}

.cancel:hover {box-shadow: inset 0px 0px 6px 0px red;}

.results {
  margin-top: 11px;
}

.results span {
  color: blue;
}

.lock_table_head {
  width: 1500px;
  display: none;
  position: fixed;
  top: 0;
}

.lock_table_head table {
  height: 100%
}

table {

width: 100%;

margin: 10px auto;

border-collapse: collapse;

border: 1px solid black;

background: #ffffff;
}

.not_regrepl_table tr:nth-child(even){
background: #b7d2e5;
}

.rc_employer {
  text-align: left !important;
}

.verticalrow {
      height: 172px;
}

.notcaption {
  cursor: pointer;
}

.itogo {

background: #83cbff !important;

font-weight: bold;

font-size: 12pt;
}

.diritogo {

background: #d87676 !important;

color: #000;

font-weight: 500;

font-size: 12pt;
}

.all_itog {

background: lightgreen !important;

font-size: 14pt;

font-weight: bolder;
}

.notcaption:hover {
  cursor: pointer;
  color: #3a40ff !important;
  text-decoration: underline;
  /* font-weight: 600; */
}

thead td {
  transform: rotate(90deg);
}

th {

border: 1px solid black;

color: black;

background: white;
}

.dir {
font-size: 16pt;
font-weight: bold;
background: #1E6EA6 !important;
color: black;
}



  .dep {
      font-weight: bold;
      text-decoration: underline;
      background: #42dafc !important;
      color: black;
      text-transform: uppercase;
  }


.subdep {

font-style: italic;
background: rgb(186, 255, 253) !important;
font-weight: 500;
}

.RegRepl_table {

}

.StuffTab {

}



caption {
  background: white;
  border: 2px solid black;
  font-weight: bold;
}

thead {



color: black;

font-weight: 800;
}

thead tr:first-child th {
  background: #1E6EA6;
  color: white;

}

thead tr:nth-child(2)  {
  background: #659ABF;
  color: black;

}


td {

border: 1px solid black;

text-align: center;
}

/* tbody tr:nth-child(even) {
  background: #A6DAFF;
} */

tbody tr {
  /* transition: 0.3s; */
}

.posupd {
width: 991px;
margin: 0 auto;
}

.posupd div {

background: #ffffff;

margin-top: 16px;

padding: 10px;

border: 5px solid #7a5fa5;

/* border-radius: 30px 0px; */

/* height: 290px; */
}


.buttonblock .button {
  width: 46% !important;

}

.buttonblock .cancel {
  width: 46% !important;
  float: right;
}



.onstufftable {

}

.onstufftable h2,  .onregrepl h2{
 text-align: center;
 border-bottom: 1px solid;
}

.ost_container, .orr_container {
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  display: grid;
  background: none !important;
  border: none !important;
  grid-gap: 15px;
  width: 81%;
  margin: 0 auto;
}

.st_labels, .st_fields {

display: grid;

border: none !important;

grid-gap: 10px;
}

.st_fields select {
  float: left;
  width: 100%;
  padding: 0px;
  height: 26px;
  /* text-align: center !important; */
}

.formsubmit {

width: 285px;

height: 29px;

background: white;

font-weight: bold;
}

.onregrepl {

/* height: 483px; */
}

.buttons {
  width: 100%;
  float: left;
}

.buttons a{
  margin-bottom: 9px;
  width: 47% !important;
  text-align: center;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  /* height: 30px; */
  padding: 7px;
  border-radius: 6px;
}

.search_button {
width: 100%;
background: #A6DAFF;
float: left;

}

.search_menu {

/* border: 1px solid red; */

/* height: 163px; */
}

.search_menu select, input {

    float: none;
}

#depsearch {

}
.deps {

width: 970px;
}

.deps table td{
  text-align: left;
}

.newdep-form {

/* border: 1px solid; */

width: 490px;

/* float: left; */

display: block;

margin: 0 auto;
}

.newdep-form input, .newdep-form select, .newsubdep-form input, .newsubdep-form select {

width: 100%;
}

.newdep-form p {
  margin-top: 7px;
}

.newdep-frame, .newsubdep-frame {
width: 555px;
height: 192px;
position: fixed;
bottom: 0;
left: 0;
border: 3px solid;
transition: 0.3s;
padding: 4px;
background: white;
}

.frame iframe {
width: 100%;
height: 155px !important;
border: none;
}

.frame button{width: 49%;}

.frame .cancel {
  margin: 0;
}

#excel-button {

}

#excel-button a img {

}

.goto-click{
    background: #5ebcff;
    position: fixed;
    left: -46px;
    transform: rotate(90deg);
font-size: 24pt;cursor: pointer;cursor: p;padding: 7px;border-top-left-radius: 14px;border-top-right-radius: 14px;}

.goto-click:hover {box-shadow: 0px -5px 14px 0px #42dafc;background: #659abf;transition: 0.3s;}

.goto {
  display: none;

background: #5ebcff;height: 490px;position: fixed;width: 419px;padding: 14px;z-index: 1;left: 0;top: 135px;border-top-right-radius: 14px;border-bottom-right-radius: 14px;box-shadow: 6px 0px 11px -1px;}

.goto a {

text-decoration: none;color: white;font-weight: bold;font-size: 16pt;}

.goto p {

text-align: center;margin-bottom: 17px;/* padding: 7px; */}

.regrepl {

background: #cdf2cd;padding: 10px;border-radius: 14px;width: 216px;text-align: center;line-height: 37px;margin-right: 9px;transition: 0.3s;margin-bottom: 9px;cursor: pointer;}

.regrepl:hover, .main_div a:hover {background: aliceblue;box-shadow: 0px 0px 11px 0px #cdf2cd;transition: 0.3s;}

.subcontainer {

display: flex;flex-wrap: wrap;}

.main_div {

float: left;position: absolute;background: #c7c9c7;height: 220px;width: 235px;border-radius: 18px;padding: 6px;;left: 43px;}

.main_div a {

width: 100%;float: left;text-align: center;background: #cdf2cd;border-radius: 14px;margin-bottom: 7px;padding: 2px;box-sizing: border-box;text-decoration: none;text-transform: uppercase;color: black;font-size: 19pt;}

.main_div h2 {
  text-transform: uppercase;
  border-bottom: 1px solid black;
  text-align: center;
  margin-bottom: 46px;
}

#inthismoment {
  
position: absolute;top: 360px;}

#excel-click {
  left: -157px;
top: 453px;
background: #a3f7a3;
}

.new-button {

width: 100%;background: #1e6ea6;padding: 10px;color: white;border-radius: 14px;border-style: none;text-transform: uppercase;font-weight: bold;}
